.red {
    background-color: #F09090 !Important;
    color: #5B0000;
}

.green {
    background-color: DarkSeaGreen !Important;
    color: DarkGreen;
}

.gray {
    background-color: Gainsboro !Important;
    color: Black;
}
